* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  margin: 0 auto;
  width: 70%;
  /* background-color: hsl(233, 47%, 7%); */
}

.main-heading {
  /* color: hsl(0, 0%, 100%); */
}
